{% import "bootstrap/wtf.html" as wtf %}


{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
   <div class="container">
      <div class="jumbotron">
        <h1>Contact Us</h1>
        <p>Tell us what's on your mind:</p>
      </div>
   <div class="col-md-12">
     {% if request.args.get('legacy') -%}
       {{wtf.quick_form(form, novalidate=True)}}
     {%- else -%}
       <form class="form form-horizontal" method="post" role="form">
         {{ form.hidden_tag() }}
         {{ wtf.form_errors(form, hiddens="only") }}
         {{ wtf.form_field(form.phone) }}
         {{ wtf.form_field(form.message) }}
         <button type ="submit" class="btn btn-primary">Send Message</button>
       </form>
     {%- endif %}
   </div>
{%- endblock %}
