{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Cisco Spark / Tropo API Lab</h1>
            <p>Let's get started</p>
            <p>
                <a class="btn btn-lg btn-default" role="button" href="{{ url_for('frontend.contact') }}" >Contact Us</a>
            </p>
        </div>
        <div class="body-content">
            <div class="row">
                <div class="col-lg-4">
                    <h2> Cisco</h2>
                    <p>Cisco is the worldwide leader in IT and networking.  We help companies of all sizes transform how people connect, communicate, and collaborate.</p>
                    <p><a class="btn btn-default" href="http://cisco.com/">Official website &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h2> Spark</h2>
                    <p>Get work done whether you're together or apart with Cisco Spark tools like team messaging, online meetings, and white boarding.</p>
                    <p><a href="https://www.ciscospark.com/" class="btn btn-default">Official website &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h2> Tropo</h2>
                    <p>Tropo - Cloud API for Voice and Messaging.</p>
                    <p><a href="https://tropo.com/" class="btn btn-default">Official website &raquo;</a></p>
                </div>
            </div>
        </div>
     </div>
{%- endblock %}
